<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/Metalink.ejs') %>

    <body onload="startTime()">
        <!-- tap on top starts-->
        <div class="tap-top"><i data-feather="chevrons-up"></i></div>
        <!-- tap on tap ends-->
        <!-- Loader starts-->
        <%- include ('./partials/Loader.ejs') %>
            <!-- Loader ends-->
            <!-- page-wrapper Start-->
            <div class="page-wrapper compact-wrapper" id="pageWrapper">
                <!-- Page Header Start-->
                <%- include ('./partials/header') %>
                    <!-- Page Header Ends-->
                    <!-- Page Body Start-->
                    <div class="page-body-wrapper">
                        <!-- Page Sidebar Start-->
                        <%- include ('./partials/sidebar') %>
                            <!-- Page Sidebar Ends-->
                            <div class="page-body">
                                <!-- AddCandidate Model button-->
                                <button class="btn btn-primary mb-2" type="button" data-bs-toggle="modal"
                                    data-bs-target=".bd-example-modal-lg">Make Elaction</button>

                                <div class="container-fluid">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <!-- Zero Configuration  Starts-->
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header pb-0">
                                                        <h4>User</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive theme-scrollbar">
                                                            <table class="display" id="basic-1">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S/l</th>
                                                                        <th>Election name</th>
                                                                        <th>From_date</th>
                                                                        <th>To_date</th>
                                                                        
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% var i=1 %>
                                                                        <% Elections.forEach((item)=>{ %>
    
                                                                            <tr class="align-middle">
                                                                                <th scope="row">
                                                                                    <%=i++%>
                                                                                </th>
                                                                                <td>
                                                                                    <%=item.election_name %>
                                                                                </td>
                                                                                <td>
                                                                                    <%=item.From_date %>
                                                                                </td>
                                                                                
                                                                                <td>
                                                                                    <%=item.To_date %>
                                                                                </td>
                                                                                <td>
                                                                                    <ul class="action">
                                                                                        <li class="delete"><a
                                                                                                href="/Election/delete/<%=item.id%>"><i
                                                                                                    class="icon-trash"></i></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                            <% }) %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- footer start-->
                            <%- include ('./partials/Footer.ejs') %>
                                <!--footer End-->
                    </div>
            </div>

            <!-- model of new Candidate add -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">New Election</h4>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/MakeElaction" method="post">
                                <!-- Container-fluid starts-->
                                <div class="container-fluid">

                                    <div class="edit-profile">
                                        <div class="row">
                                            <div class="mb-3">
                                                <label class="form-label f-w-500">Election Name</label>
                                                <input required name="election_name" class="form-control" type="text"
                                                    placeholder="123 Main Street">
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <div class="date-picker">
                                                        <label class="form-label f-w-500">From Date</label>
                                                        <div class="input-group">
                                                            <input required name="From_date"
                                                                class="datepicker-here form-control digits"
                                                                data-position="top right" type="text"
                                                                data-language="en">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <div class="date-picker">
                                                        <label class="form-label f-w-500">To Date</label>
                                                        <div class="input-group">
                                                            <input required name="To_date"
                                                                class="datepicker-here form-control digits"
                                                                data-position="top right" type="text"
                                                                data-language="en">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="MakeElactionfield">
                                                <label class="form-label f-w-500">Party Name:</label>
                                                <select name="Partys" id="MakeElaction" class="form-control btn-square">
                                                    <option selected disabled>--Please Select--</option>
                                                    <% CandidateDetail.forEach( (item)=>{ %>
                                                        <option value="<%=item.id %>">
                                                            <%=item.PartyName %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                <div class="row">
                                                    <div class="col-md-6 mt-3 mb-1">
                                                        <label class="form-label f-w-500">Party Name:</label>
                                                    </div>
                                                    <div class="col-md-6 mt-3 mb-1">
                                                        <label class="form-label f-w-500">Votes:</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Zero Configuration  Starts-->
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header pb-0">
                                                            <h4>User</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive theme-scrollbar">
                                                                <table class="display" id="basic-1">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Mark</th>
                                                                            <th>S/l</th>
                                                                            <th>Photo</th>
                                                                            <th>Name</th>
                                                                            <th>Voter Id</th>
                                                                            <th>Mobile</th>
                                                                            <th>Address</th>
                                                                            <th>Opration</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% var i=1 %>
                                                                            <% VoterDetail.forEach((item)=>{ %>
                                                                                <tr class="align-middle">
                                                                                    <td><input type="checkbox"
                                                                                            name="selectedVoter"
                                                                                            value="<%=item.id%>">
                                                                                    </td>
                                                                                    <th scope="row">
                                                                                        <%=i++%>
                                                                                    </th>
                                                                                    <td> <img
                                                                                            style="height: 55px; width: 55px; border-radius: 100%;"
                                                                                            src="../upload/<%=item.image%>"
                                                                                            alt=""></td>
                                                                                    <td>
                                                                                        <%=item.FirstName %>
                                                                                            <br>
                                                                                            <span class="text-muted">
                                                                                                <%=item.LastName %>
                                                                                            </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=item.VoterId %>

                                                                                    </td>
                                                                                    <td>
                                                                                        <%=item.mobile %>

                                                                                    </td>
                                                                                    <td>
                                                                                        <%=item.Country %>
                                                                                            <br><span
                                                                                                class="text-muted">State:
                                                                                                <%=item.State %>
                                                                                            </span>
                                                                                            <br><span
                                                                                                class="text-muted">City:
                                                                                                <%=item.City %>
                                                                                            </span>
                                                                                            <br><span
                                                                                                class="text-muted">zipCode:
                                                                                                <%=item.zipCode %>
                                                                                            </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <ul class="action">
                                                                                            <li class="edit"> <a
                                                                                                    id="editData"
                                                                                                    data-id="<%=item.id%>"
                                                                                                    data-FirstName="<%=item.FirstName%>"
                                                                                                    data-LastName="<%=item.LastName%>"
                                                                                                    data-VoterId="<%=item.VoterId%>"
                                                                                                    data-mobile="<%=item.mobile%>"
                                                                                                    data-Country="<%=item.Country%>"
                                                                                                    data-State="<%=item.State%>"
                                                                                                    data-City="<%=item.City%>"
                                                                                                    data-Street="<%=item.Street%>"
                                                                                                    data-zipCode="<%=item.zipCode%>"
                                                                                                    data-image="<%=item.image%>"
                                                                                                    data-bs-toggle="modal"
                                                                                                    data-bs-target=".model-of-editVoter"><i
                                                                                                        class="icon-pencil-alt"></i></a>
                                                                                            </li>
                                                                                            <li class="delete"><a
                                                                                                    href="/Users/delete/<%=item.id%>"><i
                                                                                                        class="icon-trash"></i></a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                                <% }) %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary" type="submit" data-bs-original-title=""
                                                    title="">Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('./partials/script') %>
    </body>

</html>